.spade { background-image: url('../img/spade.png'); }
.heart { background-image: url('../img/heart.png'); }
.diamond { background-image: url('../img/diamond.png'); }
.club { background-image: url('../img/club.png'); }

.spade, .heart, .diamond, .club { 
	height: 40px; width: 40px;
	background-repeat : no-repeat;
	overflow          : hidden;
	background-size: 30px auto;
}
